<h1></h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col align-self-start">
      <h3 class="fw-bold">Meus fluxos de entrada e saída</h3>
      <p class="text">
        Nesta aréa você pode criar e gerenciar seus fluxos, tanto de entrada quanto de saída.
        É possível associar os fluxos entre si, sempre no seguinte sentido, dado um fluxo entrada este pode alimentar 1 ou mais fluxos de saída,
        e 1 fluxo de saída pode alimentar 1 ou mais fluxos de entrada (nesse caso temos feedback).
      </p>
      <div>
        <a routerLink="detail" class="btn btn-primary btn-lg m-2">Fluxo</a>
        <a routerLink="detail" class="btn btn-primary btn-lg m-2">Associar</a>
        <a routerLink="detail" class="btn btn-primary btn-lg m-2">Entrada</a>
        <a routerLink="detail" class="btn btn-primary btn-lg m-2">Saída</a>

      </div>
    </div>

    <div class="col">

      <app-flow-list></app-flow-list>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
