<h1></h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col align-self-start">
      <h3 class="fw-bold">Meus fluxos de entrada e saída</h3>
      <p class="text">
        Nesta aréa você pode criar e gerenciar seus fluxos, tanto de entrada quanto de saída.
        É possível associar os fluxos entre si, sempre no sentido da um fluxo entrada alimentar 1 ou mais fluxos de saída,
        e 1 fluxo de saída alimentar 1 ou mais fluxos de entrada.
      </p>
      <a href="#" class="btn btn-primary btn-lg">Criar novo fluxo</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2" *ngFor="let flow of flows">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ flow.name }}</h5>
              <p class="card-text">>Descrição do fluxo.</p>
              <div>
                <a routerLink="flowCenters" class="btn btn-primary me-2">Gerenciar</a>
                <a href="#" class="btn btn-primary">Associar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
