<form action="" class="form-inline">
  <div class="form-group mb-2">

  </div>
</form>

<table class="table table-stripped">
  <thead class="thead-dark">
    <th>#</th>
    <th>Categoria</th>
    <th>%</th>
    <th>Entrada de Caixa R$</th>
    <th>Gasto R$</th>
    <th>Disponível</th>
    <th>Opções</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Despesas</td>
      <td>50</td>
      <td>1900,00</td>
      <td>0,00</td>
      <td>1900,00</td>
      <td></td>
    </tr>

    <tr>
      <td>2</td>
      <td>Investimento</td>
      <td>10</td>
      <td>380,00</td>
      <td>0,00</td>
      <td>380,00</td>
      <td></td>
    </tr>

    <tr>
      <td>3</td>
      <td>Lazer</td>
      <td>10</td>
      <td>380,00</td>
      <td>0,00</td>
      <td>380,00</td>
      <td></td>
    </tr>

    <tr>
      <td>4</td>
      <td>Crescimento Pessoal</td>
      <td>5</td>
      <td>190,00</td>
      <td>0,00</td>
      <td>190,00</td>
      <td></td>
    </tr>

    <tr>
      <td>2</td>
      <td>Dividas</td>
      <td>25</td>
      <td>960,00</td>
      <td>800,00</td>
      <td>160,00</td>
      <td></td>
    </tr>

  </tbody>

</table>
